.root {
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-color: rgb(236, 217, 255);
}

.grid-pane {
  -fx-padding: 20px;
  -fx-border-color: #ccc;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}

.label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}

.text-field, .password-field {
  -fx-font-size: 16px;
  -fx-padding: 10px;
  -fx-border-color: #ccc;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}

.button {
  -fx-font-size: 16px;
  -fx-padding: 10px;
  -fx-background-color: rgb(128, 0, 255);
  -fx-text-fill: white;
  -fx-background-radius: 5px;
}

.button:hover {
  -fx-background-color: #1783d4;
}
